Projects/Credit_Card_Fraud_detection/creditcard.csv
Projects/Diabeties_detection/Diabeties_detection copy.ipynb
Projects/RTD_Consumption/spirits-and-other-excisable-beverages-clearance-summary-data.csv
